header, main, footer, body {
	padding-left: 300px;
	overflow-y: hidden;
}

@media only screen and (max-width: 992px) {
	header, main, footer, body {
		padding-left: 0;
	}
}

#graphd3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	position: relative;
	width: 960px;
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

.rad > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.rad > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

.rad > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f44336;
}

.shot {
	height: 500px;
	overflow-y: auto;
}

/**
 * 	imported from main.css
 */
.thumbnail {
	max-width: 180px;
	max-height: 100%;
	margin-left: 10px;
	background-image: url('../img/loading.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#loading{
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1005;
	position: fixed;
	top: 0;
	left: 0;
}

