/* Push classes applied to the body */

body {
	/* required for pushbar */
	overflow-x: hidden;
	position: relative;
	/* required for animation of pushbar */
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	/* */
	/*-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

.push-toright {
	left: 400px;
}

.push-tobottom {
	top: 40px;
}

#topbar {
	position: fixed;
	width: 100%;
	height: 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	top: -40px;
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
	background-color: white;
	z-index: 1000;
}

#topbar.open {
	top: 0px;
}

/* General styles for all menus */
#sidebar {
	position: fixed;
	width: 400px;
	height: 100%;
	top: 0;
	z-index: 1000;
	left: -400px;
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
}

#sidebar.open {
	left: 0px;
}

#voiceQuery {
	border:1px; border-style:solid; 
	border-color:#F44336; 
	padding: 0.5em;
	width: 100%;
	max-width: 100%;
	word-wrap: break-word;
	height: 50px;
}

#sidebarextension {
	position: fixed;
	width: 600px;
	height: 100%;
	top: 0;
	z-index: 999;
	left: -600px;
	padding: 5px 3px 5px 5px;
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
}

#sidebarextension.open {
	left: 400px;
}

#sidebarextension.topOpen {
	top: 40px;
}

#btnShowSidebar {
	position: fixed;
}

#btnShowSidebar.open {
	left: 1000px;
}

#btnShowSidebar.topOpen {
	top: 40px;
}

#btnShowTopbar {
	position: fixed;
	right: 0px;
}

#btnShowTopbar.topOpen {
	top: 40px;
}

#modechoice li{
	padding-left: 80px;
	padding-right: 80px;
}

#results{
	padding-top: 40px;
}

/*  */
.pagination {
	cursor: pointer;
}


/* query input */ 
.query-input-container {
	height: 288px;
	width: 360px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	margin: 10px auto 0px auto;
}

.queryinput {
	width: 360px;
	height: 288px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.colorsketch {
	background-image: url('../img/transparent.png');
	z-index: 1;
}

.motionsketch {
	z-index: 4;
	display: none;
}

.objectsketch {
	z-index: 3;
	display: none;
}

.autoCompletedImage{
	z-index: 2;
	position: absolute;
	border-style: dashed;
	border-width: 2px;
	border-color: #888888;
}

/*
.audiosketch {
	background-color: rgba(200,250,200,0.5);
	z-index: 4;
	display: none;
	padding-left: 30px;
	padding-top: 100px;
}
*/
.tool-pane {
	width: 360;
	margin-top: 10px;
	display: none;
}


.class-container {
	width: 110px;
	height: 110px;
	min-width: 110px;
	min-height: 110px;
	margin: 2px;
	float: left;
	padding-left: 5px;
	text-transform: capitalize;
	z-index: 5;
	box-sizing: border-box;
	background-color: #99b;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	background-image: url('../img/icons/questions1.png');
}

.class-container[data-classtype="action"] {
	background-color: #9b9;
}

.weight-slider {
	
	width: 200px;
	float: left;
	margin-left: 15px;
	text-align: center;
	
}

.videocontainer {
	overflow-x: auto; 
	overflow-y: hidden; 
	border-style: solid;
	border-width: 1px;
	border-color: #bdbdbd;
	margin-top: 2px;
	margin-bottom: 2px;
	width: calc(100% - 400px);
}

.shotbox {
	padding-top:20px; 
	width:200px; 
	height:180px;
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
	transition: all 0.1s;
}

.thumbnail {
	max-width: 180px;
	max-height: 100%;
	margin-left: 10px;
	background-image: url('../img/loading.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.preview {
	position: absolute;
	height:80%;
	bottom:10%;
	width:100%;
}
.preview .tophoverbox span {
	width: 25%;
	padding-top:10px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 30px;
	text-align: center;
}
.preview .bottomhoverbox span {
	width: 50%;
	color: #FFFFFF;
	display: inline-block;
	font-size: 15px;
}

.preview .tophoverbox {
	padding-top: 10px;
	white-space: nowrap;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.25);
	opacity: 0;
	transition: all 0.2s;
	text-align: center;
	font-size: 0px;
}

.preview .tophoverbox span{
	cursor: pointer;
	width: 30px;
}

.preview .tophoverbox span:hover{
	color: #ddd;
}

.preview .bottomhoverbox {
	padding-top: 10px;
	white-space: nowrap;
	bottom: 0;
	left: 0;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	position: absolute;
	width: 100%;
	height: 50%;
	background: rgba(0,0,0,0.25);
	opacity: 1;
	transition: all 0.2s;
	text-align: center;
	font-size: 0px;
	height: 40px;
}

.preview .tophoverbox:hover {
	opacity: 1;
}

.preview .bottomhoverbox:hover {
	opacity: 1;
}

.box .bottomhoverbox .score {
	text-align: center;
	padding: 2px 0px;
	width: 40px;
	float: left;
}

.box .bottomhoverbox .position {
	text-align: center;
	padding: 2px 0px;
	width: 120px;
	float: right;
	margin-right: 10px;
}

#action-selection-container{
	display: none;
}

#sequence-segmentation-button{
	display: none;
	margin-top: 10px;
}

#rf-button{
	display: none;
	margin-top: 10px;
}

#loading{
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1005;
	position: fixed;
	top: 0;
	left: 0;
}

.progress .determinate{
	z-index: 10000;
	background-color: #48d631;
}

.concept-selection{
	background-color: white;
	width: 575px;
}

.highlightedVideo {
	background-color: #b0bec5;
}

#btnAddCanvas{
	margin: 10px;
}

input[type="text"]:invalid{
	border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
}

